[submodule "components/libwally-core/upstream"]
	path = components/libwally-core/upstream
	url = https://github.com/odudex/libwally-core.git
[submodule "components/cUR"]
	path = components/cUR
	url = https://github.com/odudex/cUR.git
[submodule "components/k_quirc"]
	path = components/k_quirc
	url = https://github.com/odudex/k_quirc.git
