# Board: Waveshare ESP32-P4-WiFi6-Touch-LCD-3.5 (320x480 SPI)
CONFIG_KERN_BOARD_WAVE_35=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=n
