# Board: Waveshare ESP32-P4-WiFi6-Touch-LCD-4B (720x720 MIPI DSI)
CONFIG_KERN_BOARD_WAVE_4B=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_CAM_MOTOR_DW9714=y
