menu "Kern Configuration"

    choice KERN_BOARD
        prompt "Target board"
        default KERN_BOARD_WAVE_4B
        help
            Select the ESP32-P4 board variant.

        config KERN_BOARD_WAVE_4B
            bool "Waveshare ESP32-P4-WiFi6-Touch-LCD-4B (720x720)"

        config KERN_BOARD_WAVE_35
            bool "Waveshare ESP32-P4-WiFi6-Touch-LCD-3.5 (320x480)"

        config KERN_BOARD_WAVE_5
            bool "Waveshare ESP32-P4-WiFi6-Touch-LCD-5 (720x1280 MIPI DSI)"

        config KERN_BOARD_WAVE_43
            bool "Waveshare ESP32-P4-WiFi6-Touch-LCD-4.3 (480x800 MIPI DSI)"

        config KERN_BOARD_CROWPANEL
            bool "CrowPanel Advanced ESP32-P4 (7\" / 10.1\", 1024x600 MIPI DSI)"
    endchoice

endmenu
